<div class="container">
  <div class="row">
    <div class="col-3 m-3 border rounded shadow-sm" *ngFor="let tempProduct of products">
      <div><img src="{{ tempProduct.imageUrl }}" height="100%" width="100%" alt="product image"/></div>
      <strong>{{ tempProduct.name }}</strong>
      <div>
        <span class="mr-5">{{ tempProduct.unitPrice | currency: 'USD' }}</span>
        <span class="text-muted">Stock: {{ tempProduct.unitsInStock }}</span>
      </div>
      <a href="#" class="btn btn-primary m-2 float-right">Add to cart</a>
    </div>
  </div>
</div>
