<div class="container">
  <div class="row">

    <div *ngFor="let tempProduct of products" class="col-3 m-3 border rounded shadow-sm">
      <div>
        <a routerLink="/products/{{ tempProduct.id }}">
          <img src="{{ tempProduct.imageUrl }}" height="100%" width="100%" alt="product image"/>
        </a>
      </div>
      <a routerLink="/products/{{ tempProduct.id }}">
        <strong>{{ tempProduct.name }}</strong>
      </a>
      <div>
        <span class="mr-5">{{ tempProduct.unitPrice | currency: 'USD' }}</span>
        <span class="text-muted">Stock: {{ tempProduct.unitsInStock }}</span>
      </div>
      <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm m-2 float-right">Add to cart</button>
    </div>

    <div *ngIf="products?.length == 0" class="alert alert-warning col" role="alert">
      No products found.
    </div>

  </div>

  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
      <ngb-pagination [(page)]="pageNumber"
                      [pageSize]="pageSize"
                      [collectionSize]="totalElements"
                      (pageChange)="listProducts()">
      </ngb-pagination>
    </div>
  </div>

</div>
